MEDGRAPH_HOST=0.0.0.0
PORT=8000
MEDGRAPH_CORS_ORIGINS=*
MEDGRAPH_DATASET_PATH=final_medical_rag_dataset.csv
MEDGRAPH_TOTAL_CHUNKS=13807
MEDGRAPH_TOTAL_TOKENS=3200000
MEDGRAPH_PRICE_PER_1K_TOKENS=0.0008

NVIDIA_API_KEY=nvapi-NVIDIA_API
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
MEDGRAPH_LLM_MODEL=meta/llama-3.3-70b-instruct

GEMINI_API_KEY=GEMINI_API
GEMINI_MODEL=models/gemini-2.0-flash


TG_HOST=https://tg-6cd904f6-9a57-4b6a-9507-e9648abc6120.tg-2635877100.i.tgcloud.io
TG_GRAPH_NAME=database1
TG_USERNAME=tigergraph3
TG_PASSWORD=TC_PASSWORD
TG_SECRET=TG_SECRET
TG_API_TOKEN=TG_API_TOKEN
TG_VERTEX_TYPE=Entity
TG_EDGE_TYPE=RELATED_TO
TG_UPLOADED_VERTICES=4872
TG_UPLOADED_EDGES=5678
